
footer {
  position:relative;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 75px; 
  text-align: center;
}
#buttonTier {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 30px;
  padding: 0 20px;
  justify-items: center;
}

#buttonTier a,
#buttonTier button {
  width: 120px;
  height: 80px;
  border: 1px solid #333;
  border-radius: 5px;
}



/* Tabla existente */
table {
  margin: 50px auto;
  border-collapse: collapse;
}

th{
  border: 1px solid black;
}

th {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 2rem;
  color: white;
}

td {
  width: 120px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid black;
  border-bottom: 1px solid black;


}

/* Imágenes dentro del td */
#tier-table td img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 3px;
}

/* Contenedor de imágenes de coches debajo de la tabla */
#cars-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 50px;
  margin-top: 30px;
  padding: 0 20px;
  justify-items: center;
}

/* Cada imagen de coche */
#cars-images img {
  width: 120px;
  height: 80px;
  object-fit: contain;
  border: 1px solid #333;
  border-radius: 5px;
}




@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}





.login {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    margin: auto;
    margin-top: 200px;
}

.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;

}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}


